.category-text{
    margin-top: 20px;
    justify-content: space-between;
}
.category-text h2{
    font-size: 28px;
    font-weight: bold;
    color:#fff;
}
.category-container{
    padding: 5px;
}
.category-text a{
    text-decoration: none;
    padding: 0px 15px;
    background-color: #141619;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 0;
    line-height: 40px;
}
.category-container .card{
        border: 1px solid white;
        margin-bottom: 15px;
        background: #546a65;
        padding: 10px;
}