body{
    background-color: #F3F5F9;
}
.questions{
    background-color: #fff;
    padding: 15px;
    margin: 20px;
}
.question{
    font-size: 21px;
    color: #383838;
    font-weight: bold;
}
.option{
    background-color: #efefef;
    padding: 7px;
    margin: 8px;
}
.option button{
    border: none;
    padding: 0;
    height: 10px;
    font-size: 0px;
    margin-top: 16px;
}
.question-item {
    background-color: #efefef;
    margin: 10px;
    color: #3c4b64;
    list-style-type: none;
}
